fastapi==0.115.6
uvicorn==0.33.0
SQLAlchemy==2.0.36
asyncpg
pydantic==2.10.3
pydantic-settings==2.7.0
python-dotenv==1.0.1
python-multipart==0.0.19
loguru==0.7.3

langchain==0.3.12
langchain-community==0.3.12
langchain-openai==0.2.12
langchain-text-splitters==0.3.3

openai==1.57.4
tiktoken==0.8.0
tenacity==9.0.0
faiss-cpu==1.9.0.post1
docx2txt==0.8
PyPDF2==3.0.1

starlette==0.41.3
