<!DOCTYPE html>
<html>

<head>
	<title>Chatbot</title>
	<link rel="icon" href="../static/images/bot.png" />
	<link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
	<div id="container" class="container">
		<div id="chat" class="chat">
			<h1>Blog Plants CHATBOT</h1>

			<div id="messages" class="messages"></div>
			<label for="input"></label>
			
			<div id="input_area">
				<input id="conversation_id" placeholder="Enter conversation ID"></input>
				<input id="input" placeholder="Say something..." autocomplete="off" autofocus="true"></input>
			</div>
		</div>
		<img src="../static/images/bot.png" alt="Robot cartoon" height="400vh">
	</div>
</body>
<script type="text/javascript" src="../static/js/index.js" ></script>

</html>